.category {
    display: flex;
    .category-left {
       width: 15%;
       height: 100vh;
       text-align: center;
       border: 1px solid red;
       line-height: 100rpx;
      .category-box {
        .active{
          color: #aa976c;
          border-left: #aa976c;
        }
        text {
           
        }
      }
    }
   .category-right {
       width: 85%;
        .category-right {
         
        }
      
        .txt {
          color: #aa976c;
        }
      
       .category-right-box {
      
        }
      }
    
}
  